{
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
                "pragma": "createElement",
                "pragmaFrag": "'span'"
            }
        ]
    ],
    "comments": false
}
